body {
    background-color: black;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

a {
    color: #87CEEB;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ADD8E6;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    font-family: 'Courier New', Courier, monospace;
}